[Desktop Entry]
Type=Application
Name=PI-DATV-WWATS UI
Exec=chromium --noerrdialogs --disable-infobars --kiosk http://localhost:8080
X-GNOME-Autostart-enabled=true
